.add-friend__scroll-list {
  position: absolute;
  overflow-y: scroll;
  padding-right: 10px;
  -webkit-overflow-scrolling: touch;
  top: 54px;
  bottom: 0px;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}
/deep/ .im-card__container:nth-last-child(1) >.im-card__right::after {
  border-bottom: 0px solid #ebedf0;
}
